<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verify email</title>
</head>
<body>
<p>
    Hello <b>{{user.firstName}}</b><br><br>
    To verify your email address please click on following link:
    <br>
    <a href="{{link}}" title="Verification link" style="color: darkgreen">{{link}}</a>
    <br>
    <br>
    <small style="font-size: 14px">* Link expires in {{hours expiresIn}} hours</small>
</p>
</body>
</html>
