<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test mail</title>
</head>
<body>
<p>
    Hello {{firstName}} {{lastName}},<br>
    this is a test mail using templating.
    <br>
    {{> parts.data-block}}
    <br>
    Best regards
</p>
</body>
</html>
