NODE_ENV=development

APP_NAME="Ivy API"
APP_DESCRIPTION="Ivy backend API service"
APP_DEBUG=true
APP_PORT=3000

LOG_LEVEL=debug
LOG_PATH=false

DB_TYPE=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=ivy
DB_USER=ivy
DB_PASSWORD=
DB_MIGRATION_EXTRA_ENTITIES=../../lib/**/*.entity{.ts,.js}

QUEUE_TYPE=redis
QUEUE_HOST=127.0.0.1
QUEUE_PORT=6379
QUEUE_DB=0
QUEUE_USER=
QUEUE_PASSWORD=
QUEUE_PREFIX=

PAGINATION_MAX_SIZE=100
PAGINATION_DEFAULT_SIZE=20
PAGINATION_DEFAULT_SORT=

AUTH_ADMIN_CREATE=true
AUTH_ADMIN_USERNAME=admin@ivy-nestjs
AUTH_ADMIN_PASSWORD=

AUTH_JWT_SECRET=

RECAPTCHA_SITE_SECRET=
RECAPTCHA_ENABLED=true

GOOGLE_CLIENT_ID=

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

GOOGLE_ENABLED=true

FACEBOOK_ENABLED=true
